body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222831;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  color: #DDDDDD;
}

#footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #DDDDDD;
}

.input-ask{
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #F05454;

}

#wholePage{
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(16, 50px [col-start]);
}

#selection-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.user-selection{
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
    box-sizing: border-box;
  }
  
#wholePage>div {
    border: 1px solid black;
    /* margin: 0;
    height: 50px;
    width: 50px;
    flex: 1 1 auto; */
    background-color: white;
  }
  
/* #wholePage>div:nth-child(16n + 1) {
    width: 100%;
    border: 0;
    height: 0;
  }

  .gridBox {
    background-color: yellow;
  } */